<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>816diesel.com</title>
</head>

<body>
	<p>{{ session['user_email'] }}</p>
	<p><img src="{{ session['user_avatar'] }}" /></p>
    If you're an administrator, you can click <a href="admin">here</a> to administer Users and Roles.<br />
    <br />
    Click <a href="/logout">here</a> to log out.<br />
		<p>{{ session['previous_page'] }}</p>

		{% for role in user_perms %}
        <li>{{ role.name }}</li>
    {% endfor %}

</body>
</html>
